* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 240px;
    background-color: #000000;
    padding: 20px;
    display: flex;
  
    flex-direction: column;
    gap: 20px;
}

.sidebar h2 {
    font-size: 1.2rem;
    color: #1db954;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar li {
    cursor: pointer;
    color: #ffffff;
}

.main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #2b2b2b, #121212);
}

.main-content h1 {
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #242424;
    border-radius: 500px;
    padding: 10px 15px;
    gap: 10px;
    max-width: 500px;
    margin-bottom: 25px;
}

.search-box i {
    color: #b3b3b3;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 0.95rem;
    width: 100%;
}

.grid-songs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.song-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song-card:hover {
    background-color: #282828;
}

.song-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.song-card h4 {
    font-size: 0.95rem;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.player-bar {
    height: 90px;
    background-color: #181818;
    border-top: link-color;
    border-top: 1px solid #282825;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.song-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-sub {
    font-size: 0.8rem;
    color: #b3b3b3;
}

.player-controls button {
    background: #ffffff;
    border: none;
    color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
